  <ul>
    <li>
      <h4>Milestone v.3</h4>
      <p><strong>Nicole committed/deployed</strong> on the January 11. <span>commit/deploy specific info</span></p>
    </li>
  </ul>
  <div>
    <ul>
      <% 20.times do %>
        <li class="pass fail pending">
          <h4>As a project owner</h4>
          <p class="meta">I want to be able to use GitHub as a build triggerer<br/>
            So that my project is built everytime I push to the Holy Hub</p>
            <div>
              <a href="/test_edit">Edit this response</a>
            </div>
        </li>
      <% end %>
    </ul>
  </div>