  <form>
    <ul>
      <li>
        <div class="column">
          <input id="Field1" name="Field1" type="checkbox" class="field checkbox first" value="Pass" tabindex="1"/>
          <label class="choice" for="Field1">Pass</label>
          
          <input id="Field2" name="Field2" type="checkbox" class="field checkbox" value="Fail" tabindex="2"/>
          <label class="choice" for="Field2">Fail</label>
          
          <input id="Field3" name="Field3" type="checkbox" class="field checkbox" value="Pending" tabindex="3"/>
          <label class="choice" for="Field3">Pending</label>
        </div>
      </li>
      <li>
        <label class="desc" id="title104" for="Field104">Comment if test fails is required, not sure how to trigger this</label>
        <div>
          <textarea id="Field104" name="Field104" class="field textarea medium" rows="10" cols="50" tabindex="4"></textarea>
        </div>
      </li>
      <li class="buttons">
        <input id="saveForm" class="btTxt" type="submit" value="Submit" />
      </li>
    </ul>
  </form>